@mixin button-size($padding-x, $padding-y, $font-size, $border-radius) {
  // 写想复用的属性
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-radius;
}

@mixin button-style(
  $background,
  $border-color,
  $color,
  // 背景浅上7.5%
  $hover-background: lighten($background, 7.5%),
  // 边框浅上10%
  $hover-border-color: lighten($border-color, 10%),
  $hover-color: $color
) {
  color: $color;
  background: $background;
  border-color: $border-color;
  &:hover {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border-color;
  }
  &:focus,
  &.focus {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border-color;
  }
  &:disabled,
  &.disabled {
    color: $color;
    background: $background;
    border-color: $border-color;
  }
}

@mixin zoom-animation(
  $direction: /* 类名 */ "top",
  $scaleStart: scaleY(0),
  $scaleEnd: scaleY(1),
  $origin: center top
) {
  // 进入动画的状态
  .zoom-in-#{$direction}-enter {
    opacity: 0;
    transform: $scaleStart;
  }
  // 执行动画的过程
  .zoom-in-#{$direction}-enter-active {
    opacity: 1;
    transform: $scaleEnd;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
      opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin;
  }
  // 动画结束后的持久状态
  .zoom-in-#{$direction}-exit {
    opacity: 1;
  }
  // 执行动画的过程
  .zoom-in-#{$direction}-exit-active {
    opacity: 0;
    transform: $scaleStart;
    transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms,
      opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
    transform-origin: $origin; // 动画开始的圆点
  }
}
